doctype html
html(lang="en")
    head
        include ../includes/script.jade
        script(type='text/javascript').
            KISSY.use("io,node,json,vs-grid-table,vs-pagebar,vs-round-input,vs-window",
                function(S, Io, Node, Json, VsGridTable, VsPagebar, VsRoundInput, VsWindow){
                var table = new VsGridTable('#subjects', {});
            });
    body
        .bodyAdminDiv
            #tWin.container
            .clearfix(style="margin-top:8px")
                #subjects.container(style="width:423px;")
                    table
                        thead
                            tr
                                td(w="148") 角色
                                td(w="148") 账户
                                td(w="148") 收入/支出
                                td(w="148") 科目
                                td(w="148") 代码
                        tbody
                            - each val in rst
                                tr
                                    td=val.name + '(' + val.code + ')'
                                    td
                                    td
                                    td
                                    td=val.id
                                        - each ac in val.accounts
                                            tr
                                                td
                                                td=ac.name+ '(' + ac.code + ')'
                                                td
                                                td
                                                td=val.id + ac.id
                                                    - each tp in ac.types
                                                        tr
                                                            td
                                                            td
                                                            td=tp.name+ '(' + tp.code + ')'
                                                            td
                                                            td=val.id + ac.id + tp.id
                                                                - each st in tp.subjects
                                                                    tr
                                                                        td
                                                                        td
                                                                        td
                                                                        td=st.name+ '(' + st.code + ')'
                                                                        td=val.id + ac.id + tp.id + st.id
            .clearfix(style="margin-top:8px")
                #bar.vs_grid_plain(style="width:600px;")
