doctype html
html(lang="en")
    head
        include ../includes/script.jade
        script(type='text/javascript').
            var check;
            KISSY.use("io,node,json,vs-grid-table,vs-pagebar,vs-round-input,vs-window,vs-items",
                function(S, Io, Node, Json, VsGridTable, VsPagebar, VsRoundInput, VsWindow, VsItems){

                var count = parseInt(Node.one('#count').val());
                var skip = parseInt(Node.one('#skip').val());
                var limit = parseInt(Node.one('#limit').val());
                var cur = parseInt(skip/limit) + 1;

                var pageBar = new VsPagebar('#bar', {count:count, limit:limit, cur:cur, toPage:function(index){
                    toPage(index);
                }});

                var getCondition = function()
                {
                    var cond = {};
                    return cond;
                };

                Node.one("#search").on("click", function(){
                    toPage(cur);
                });

                var toPage = function(index){
                    var limit = parseInt(Node.one('#limit').val());
                    var skip = (index - 1)*limit;
                    var cond = encodeURIComponent(Json.stringify(getCondition()));
                    CurSite.redirectTo(null, "station_select.html?" + 'skip=' + skip + "&limit=" + limit + "&cond=" + cond);
                };

                var items = new VsItems("#tItems", {});

                //记录已经选择的项
                var selectStr = Node.one("#select").val();
                var selectData = CurSite.decryptUrl(selectStr, Json);
                for(var key in selectData)
                {
                    items.add(selectData[key]);
                }

                var table = new VsGridTable('#customers', {selectEvent:function(data){
                    items.add({id:data[0], name:data[0]});
                }});

                check = function(cb)
                {
                    var data = items.getData();
                    cb(null, data);
                };
            });
    body
        input(type='hidden', id="select", value=select)
        input(type='hidden', id="count", value=count)
        input(type='hidden', id="skip", value=skip)
        input(type='hidden', id="limit", value=limit)
        .bodyAdminDiv
            #tWin.container
            .clearfix(style="margin-top:8px")
                #tItems.container
            .clearfix(style="margin-top:8px")
                .vs_grid_plain(style="width:423px;")
                    input(type="button", id="search", value="查询")
            .clearfix(style="margin-top:8px")
                #customers.container
                    table
                        thead
                            tr
                                td(w="100") 用户名
                        tbody
                            - each val in rst
                                tr
                                    td=val.id
            .clearfix(style="margin-top:8px")
                #bar.vs_grid_plain(style="width:600px;")
