doctype html
html(lang="en")
    head
        link(rel='stylesheet', type='text/css', href='./css/table-list.css')
        link(rel='stylesheet', type='text/css', href='./js/css/dpl/base-min.css')
        include ../includes/script.jade
        script(type='text/javascript').
            KISSY.use("io,node,json,vs-grid-table,vs-onepagebar,vs-round-input,vs-window",
                function(S, Io, Node, Json, VsGridTable, VsOnePagebar, VsRoundInput, VsWindow){
                var count = parseInt(Node.one('#count').val());
                var skip = parseInt(Node.one('#skip').val());
                var limit = parseInt(Node.one('#limit').val());
                var cur = parseInt(skip/limit) + 1;
                var table = new VsGridTable('#msgs', {});
                var pageBar = new VsOnePagebar('#manu', {count:count, limit:limit, cur:cur, toPage:function(index){
                    toPage(index);
                }});

                var getCondition = function()
                {
                    var cond = {};
                    var id = Node.one('#id').val();
                    if(id && id.length > 0){
                        cond._id = id;
                    }
                    return cond;
                };

                var toPage = function(index){
                    console.log(index);
                    var limit = parseInt(Node.one('#limit').val());
                    var skip = (index - 1)*limit;
                    var cond = encodeURIComponent(Json.stringify(getCondition()));
                    console.log(cond);
                    CurSite.redirectTo(null, "msg_list.html?" + 'skip=' + skip + "&limit=" + limit + "&cond=" + cond);
                };

                //绑定事件
                Node.all("input.detail").each(function(item){
                    item.on("click", function(){
                        var tId = Node.one(this).attr("tId");
                        var url = "msg_detail.html?id=" + tId;
                        var win = new VsWindow("#tWin", {title:"消息详情", width:500, height:400, url:url, controlBt:[
                            {name:'关闭', cb:null}
                        ]});
                    });
                });

                Node.one("#search").on("click", function(){
                    toPage(cur);
                });

                Node.one("#add").on("click", function(){
                    var url = "msg_add.html?time=" + new Date().getTime();
                    CurSite.redirectTo(null, url);
                });
            });
    body
        .bodyAdminDiv
            input(type='hidden', id="count", value=count)
            input(type='hidden', id="skip", value=skip)
            input(type='hidden', id="limit", value=limit)
            #tWin.container
            .clearfix(style="margin-top:8px")
                fieldset(id="selected")
                    table(id="select_table")
                        tr
                            td 消息ID:
                            td
                                input(id="id", type="text", value=cond._id)

            .clearfix(style="margin-top:8px")
                .vs_grid_plain(style="width:423px;")
                    input(type="button", id="search", value="查询")
            .clearfix(style="margin-top:8px")
                .tab-list
                    table(width="100%" border="0" cellspacing="0" cellpadding="0" class="tab")
                        thead
                            tr
                                td id
                                td 子消息数
                                td 已经完成数
                                td 状态
                                td 创建时间
                                td 完成时间
                                td 操作
                        tbody
                            - each val in rst
                                tr
                                    td=val._id
                                    td=val.subCount
                                    td=val.finishCount
                                    td=val.status.des
                                    td=val.createTime
                                    td=val.finishTime
                                    td
                                        input(type="button", value="详情", class="detail", tId=val._id)
            .clearfix(style="margin-top:8px")
                #manu
